app-attraction-filters {
  .mat-selection-list .mat-list-item, .mat-selection-list .mat-list-option {
    width: 50%;
    float: left;
    font-size: 12px;
  }
  h2 {
    font-size: 16px;
    line-height: 26px;
    padding: 0px;
    margin: 0;
  }
  .mat-selection-list .mat-list-option .mat-list-item-content-reverse {
    padding: 0 16px 0 0px;
  }
  .mat-list-base .mat-list-item .mat-list-item-content-reverse, .mat-list-base .mat-list-option .mat-list-item-content-reverse {
    flex-direction: row;
  }
  .mat-pseudo-checkbox {
    margin-right: 16px;
  }
  .filter-button-apply {
    position: sticky;
    bottom: 0px;
    z-index: 1;
    background: var(--primary);
    margin: 0;
    padding: 0;
    width: 100%;
    color: var(--on-primary);
  }
}

.mat-bottom-sheet-container {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
