.dialog-onboarding {
  ul {
    list-style: none;
    padding: 0 0 0 10px;
    margin: 0;
  }

  li {
    display: flex;
    margin-bottom: $global-gutter;
    align-items: center;
  }

  p {
    margin: 0 0 0 0;
    font-size: 16px;
  }

  .mat-icon {
    color: var(--primary);
    margin-right: math.div($global-gutter, 2);
    width: 35px;
    font-size: 35px;
    height: 35px;
  }
}
