.info-title {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.info-text {
  font-size: 14px;
}

.info-telephone {
  margin-bottom: $global-gutter;
  border-bottom: 1px solid #e7e7e7;
}

.info-telephone-title {
  font-size: $global-gutter;
  font-weight: bold;
  margin-bottom: 0;
}

.list-numbers {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0;
  display: inline-block;

  .number {
    float: left;
    width: 50%;

    a {
      display: inline-block;
      width: 100%;
      margin: math.div($global-gutter, 2) 0;
    }
  }
}

.info-list-credits {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: flex;
  }

  .item-link {
    a {
      padding: math.div($global-gutter, 2) 0;
      width: 100%;
      text-decoration: none;
    }
  }

  .item-people {
    display: inline-block;
    padding: math.div($global-gutter, 2) 0;
  }

  .small-text {
    color: var(--on-background);
    font-size: 12px;
    color: var(--on-secondary);
  }
}

.pwa {
  text-align: center;
  line-height: 2em;
}

.logo-pwa {
  width: 60px;
}
