.message-author {
  .author {
    display: flex;
    font-size: 14px;
    align-items: center;
    p {
      margin-bottom: 0;
    }
    .small-text {
      font-weight: normal;
      font-size: 12px;
      color: var(--on-secondary);
    }
  }
}
.message-author-text {
  font-size: 14px;
  border-radius: 5px;
  padding: $global-gutter;
  background: var(--primary);
  color: var(--on-primary);
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--primary);
  }
}
.message-author-thumb {
  border-radius: 50px;
  height: 60px;
  width: 60px;
  margin-right: $global-gutter;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
