.search-suggestions {
  margin-top: $global-gutter;
  &.col-xs-12 {
    padding: $global-gutter $global-gutter $global-gutter*4 $global-gutter;
  }
  .suggestions-title {
    margin-top: 0;
    padding-top: 0;
  }
}

.suggestions-content {
  h2 {
    font-size: 14px;
  }
  ul {
    list-style: none;
    display: block;
    overflow: hidden;
    padding: 0;
  }
  li {
    float: left;
  }
  .suggestion-item {
    padding: 6px 10px;
    background: var(--primary);
    color: var(--on-primary);
    margin-right: $global-gutter;
    border-radius: 20px;
    margin-bottom: $global-gutter;
    font-size: 12px;
    max-width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}
