.content-tab {
  margin-bottom: 70px;

  p {
    margin-top: 0;
  }
}

.mat-tab-link {
  color: var(--on-background);
  padding: 0 18px;
}

.mat-tab-nav-bar.mat-primary {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 1px -4px 5px rgba(0, 0, 0, 0.2);
}

.mat-tab-header {
  background: var(--background);
  .mat-tab-label {
    color: var(--primary);
  }
}

.mat-expansion-panel-header-title {
  text-transform: uppercase;
}

app-attraction {
  .mat-drawer-container {
    background: var(--background);
  }

  .mat-tab-header {
    position: sticky;
    top: 0px;
    z-index: 2;
  }
}

app-info {
  .mat-tab-body-content {
    margin-bottom: $global-gutter * 4;
  }
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: var(--primary);
}

app-home {
  .mat-tab-links {
    display: flex;
    flex-direction: row;
  }

  .mat-tab-link {
    padding: 6px 0;
    box-sizing: content-box;
    min-width: 60px;
  }
}

.attraction,
app-event-schedule {
  .mat-tab-labels {
    .mat-tab-label {
      flex-grow: 1;
      min-width: none;
    }
  }
}

.tab-item.mat-tab-link.mat-tab-label-active {
  color: var(--primary);
  opacity: 1;

  p {
    color: var(--primary);
  }
}

.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: var(--primary);
  height: 3px;
}

.mat-tab-nav-bar {
  bottom: none;
}

.tab-label,
.bottom-bar-item p {
  font-size: 12px;
}
