.top-bar {
  padding: 0 $global-gutter;
  height: 56px;

  // box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  &.top-bar-fixed {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0;
    background: var(--background);
    z-index: 1;

    &.search {
      position: sticky;
    }
  }

  .mat-icon,
  input {
    color: var(--primary);
    caret-color: var(--on-background);
  }

  .mat-form-field-underline {
    background-color: var(--primary);
  }

  .mat-input-element {
    margin-bottom: math.div($global-gutter, 2);
    margin-left: math.div($global-gutter, 2);
  }

  &.top-event {
    background: var(--primary);

    .mat-icon {
      color: var(--background);
    }
  }

  &.top-event-musical {
    background: #F8C7BF;
    color: rgba(0, 0, 0, 0.5);
  }

  &.top-event-cortejo {
    background: #FFBA0E;
    color: rgba(0, 0, 0, 0.5);
  }

  &.top-event-show {
    background: #53C419;
    color: rgba(0, 0, 0, 0.5);
  }
}

.top-bar-back {
  align-items: center;
  display: flex;
  color: var(--background);
}
