<div class="event-tags-types">
    <span class="event-type" *ngFor="let type of event.types">
      <ng-container *ngIf="type.id | type as type" >
          <span [style.background]="type.color" class="event-type-circle"></span>
          <p>{{type?.name}}</p>
      </ng-container>

    </span>
    <span class="event-tag" *ngFor="let tag of event.tags" >
      <ng-container *ngIf="tag.id | tag as tag" >
        {{tag}}
      </ng-container>
    </span>
</div>
