<div class="row jumbotron map">
  <div class="col-12">
    <h1>Mapa</h1>
  </div>
</div>
<div class="row map-graph">
  <div class="col-12 p-0">
    <google-map
    height="90vh"
    width="100%"
    [zoom]="zoom"
    [center]="center"
    [options]="options"
    >
        <map-marker
        #markerElem
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        (mapClick)="openInfo(markerElem, marker.info)"
        >
      </map-marker>
      <map-info-window>{{ infoContent }}</map-info-window>
    </google-map>
    <div class="event-selected" *ngIf="placeSelected" >
      <div class="event-selected-close" (click)="closePlaceSelected()">
        <mat-icon>close</mat-icon>
      </div>
      <div class="row">
        <div class="col place-selected">
          <h2>{{ placeSelected.name }}</h2>
          <p>{{ placeSelected.neighborhood }}</p>
          <button mat-button (click)="goToMap()">ABRIR NO GOOGLE MAPS</button>
        </div>
      </div>
    </div>
  </div>
</div>

