<div class="row">
  <div class="col">
    <ngb-carousel #carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img loading="lazy" alt="{{ 'login.carousel.item-1.image-alt' | translate }}"
            src="assets/persons.svg">
        </div>
        <div class="carousel-caption">
          <h3>{{ 'login.carousel.item-1.title' | translate }}</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img loading="lazy" alt="{{ 'login.carousel.item-2.image-alt' | translate }}" src="assets/add-favorite.svg" />
        </div>
        <div class="carousel-caption">
          <h3>{{ 'login.carousel.item-2.title' | translate }}</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img loading="lazy" alt="{{ 'login.carousel.item-3.image-alt' | translate }}" src="assets/add-home-screen.svg" />
        </div>
        <div class="carousel-caption">
          <h3>{{ 'login.carousel.item-3.title' | translate }}</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img loading="lazy" alt="{{ 'login.carousel.item-4.image-alt' | translate }}" src="assets/chrome.svg" />
        </div>
        <div class="carousel-caption">
          <h3>{{ 'login.carousel.item-4.title' | translate }}</h3>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>

<div class="login">
  <button class="button-login full-width" mat-raised-button (click)="login()">{{ 'login.enter' | translate }}</button>
</div>
