
$font-family: 'Google Sans', 'Noto Sans', 'Arial', sans-serif;
$nav-button-color: #00838F;
$global-gutter: 16px;

$color-white: #fff;
$color-blue: #3C71D0;
$color-blue-light: #4768FD;
$color-green: #1e8e3e;
$color-grey: #F7F8F9;
$color-grey-dark: #757575;
$color-grey-medium: #d6d6d6;
$color-text: #4A4A4A;
$color-text-secundary: #95989A;
$color-divider: rgba(0, 0, 0, 0.12);
$color-divider-day: #ebebeb;
