body {
  margin: 0;
  font-family: $font-family;
  color: var(--on-background);
  background: var(--background);
  font-display: swap;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
a {
  text-decoration: none;
  color: var(--primary);
}
div, a, p, .mat-expansion-panel-header {
  font-family: $font-family;
  font-display: swap;
}

p {
  color: var(--on-background);
}
