.mat-dialog-title {
  font-family: $font-family;
  font-display: swap;
}

.wrapper-main {
  height: calc(100vh);
}

.container-main {
  overflow: initial;
  position: relative;
  width: 100%;
  min-height: calc(100vh - 60px);
  background: var(--background);
}

.text-padding {
  padding: $global-gutter $global-gutter;
}

.button-submenu {
  position: absolute;
  top: 4px;
  right: 8px;

  mat-icon {
    color: rgba(0, 0, 0, 0.5);
  }
}


.alert {
  position: relative;
  padding: .75rem 1.25rem;
  font-size: 12px;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-weight: bold;
}

p.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.button-filter-fab.mat-fab,
.button-share-fab.mat-fab {
  height: 56px;
  position: fixed;
  right: $global-gutter;
  bottom: $global-gutter * 5;
  z-index: 2;
  background: var(--primary);
}

.filter-text {
  bottom: 60px;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  padding: math.div($global-gutter, 2) 0 $global-gutter 0px;
}

.clear-filter {
  p {
    margin-right: math.div($global-gutter, 2);
  }

  display: flex;
  align-items: center;
  color: var(--primary);
}

.filters {
  justify-content: space-between;
  padding: $global-gutter;
  display: flex;
  font-size: 14px;
  align-items: center;
  border-top: 2px solid var(--border);
  background: var(--surface);

  .clear-filter {
    padding-right: 0;
  }

  .filter-items {
    color: var(--primary);
    font-weight: normal;
  }

  p {
    margin: 0;
    font-weight: bold;
    word-break: normal;
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    text-overflow: ellipsis;
  }
}

.event-selected .place-selected {
  padding: $global-gutter;

  h2 {
    margin: 0px 0px math.div($global-gutter, 2) 0;
    font-size: 18px;
  }

  p {
    font-size: 12px;
    margin: 0px;
  }

  button {
    float: right;
    color: var(--primary);
  }
}

.container-loading {
  &.col-xs-12 {
    padding-top: $global-gutter*2;
  }

  p {
    text-align: center;
  }

  .container-loading__spinner {
    margin: 0 auto;

    circle {
      stroke: var(--primary);
    }
  }
}

.search-spinner {
  margin: 0 auto;

  circle {
    stroke: var(--primary);
  }
}

.search-no-result {
  text-align: center;
}


.event-items-hour {
  display: flex;
  border-top: 1px solid var(--border);

  .event-hour-content {
    font-size: 22px;
    box-sizing: border-box;
    color: var(--primary);
    font-weight: 500;
    padding: $global-gutter 0px 0 0px;
    text-align: center;
    flex: 0 0 66px;
  }

  app-events-list {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
  }

  .event-hour {
    position: sticky;
    top: 60px;
    z-index: 1;
  }
}

// Sticky
app-attraction {
  .mat-tab-body-wrapper {
    overflow: initial;
    height: fit-content;
  }

  .mat-tab-body.mat-tab-body-active {
    overflow: inherit;
  }

  .mat-tab-body-content {
    overflow: initial;
    will-change: transform;
  }
}

.mat-pseudo-checkbox-checked {
  background: var(--primary);
}

.md-no-animation {

  md-ink-bar,
  .mat-ink-bar,
  .mat-tab-body-wrapper {
    transition: none;
  }
}

.mat-bottom-sheet-container,
.mat-dialog-container,
.mat-menu-panel {
  background: var(--background);
}

.mat-dialog-container {
  .mat-button {
    color: var(--on-background);
  }
}

.mat-expansion-panel {
  background: var(--surface);
}

.mat-list-base .mat-list-option,
.mat-expansion-panel-header-title,
.mat-expansion-panel,
.mat-expansion-indicator::after,
.mat-menu-panel,
.mat-menu-item,
.mat-menu-item .mat-icon-no-color {
  color: var(--on-background);
}

.mat-tab-header {
  border-color: var(--border);
}

.mat-pseudo-checkbox {
  color: var(--on-secondary);
}

.mat-pseudo-checkbox.mat-pseudo-checkbox-checked {
  background: var(--primary);
}

.mat-expansion-panel,
.mat-tab-nav-bar.mat-primary {
  border: 1px solid var(--border-content);
}

app-home {
  height: calc(100vh);
}


.button-submenu {
  mat-icon {
    color: var(--on-background);
  }
}

.mat-button.mat-primary {
  color: var(--on-primary);
}

.mat-tab-header-pagination-chevron {
  border-color: rgba(var(--on-background), 0.87);
}

.mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron {
  border-color: rgba(var(--on-background), 0.38);
}

.mat-tab-label-container {
  overflow-x: auto !important;
}

.dark-theme {
  .mat-elevation-z4 {
    box-shadow: 0px 2px 4px -1px rgba(255, 255, 255, 0.2), 0px 4px 5px 0px rgba(255, 255, 255, 0.14), 0px 1px 10px 0px rgba(255, 255, 255, 0.12)
  }
}

.carousel-item {
  height: 90vh;

  @include media-breakpoint-up(xs) {
    h3 {
      font-size: 1em;
    }
  }

  @include media-breakpoint-up(sm) {
    h3 {
      font-size: 1em;
    }
  }

  @include media-breakpoint-up(md) {
    h3 {
      font-size: 1.4em;
    }
  }




  .picsum-img-wrapper {
    display: flex;
    justify-content: center;
  }

  img {
    height: 80vh;
  }
}


.mat-dialog-container {
  position: relative;
}

.button-install {
  color: var(--primary);

  span {
    font-weight: bold;
  }
}

@media all and (display-mode: standalone) {
  .button-install {
    display: none;
  }
}
