@use "sass:math";

@import 'bootstrap/scss/bootstrap-reboot';
@import 'bootstrap/scss/bootstrap-grid';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/carousel';

@import 'palette';
@import 'variables';
@import 'base';
@import 'layout';
@import 'modules/top-bar';
@import 'modules/tabs';
@import 'modules/message-author';
@import 'modules/info';
@import 'modules/dialog-onboarding';
@import 'modules/suggestions';
@import 'modules/attraction-filters';

.my-agenda-info {
  background: var(--secondary);
  color: var(--on-secondary);
  margin-bottom: math.div($global-gutter, 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  padding-top: 16px;

  &.col-xs-12 {
    padding: $global-gutter;
  }

  p {
    margin: 0;
    font-size: 14px;
    padding: 0;
  }
}

.text-link {
  margin: 0;
  font-size: 14px;
  padding: 0;
  font-weight: normal;

  &.text-link-blue {
    color: var(--primary);
  }

  &.text-link-green {
    color: $color-green;
  }
}

.calendar-day {
  position: sticky;
  top: 0px;
  padding: $global-gutter;
  font-weight: 500;
  margin: 0 0 0 0;
  border-bottom: 1px solid var(--border);
  background: var(--background);
  color: var(--on-background);

  .add-event {
    float: right;
    text-transform: uppercase;
  }
}


.jumbotron {
  position: relative;
  background-color: var(--background);

  &.my-agenda {
    height: 56px;
  }

  &.schedule {
    height: 62px;
  }

  &.map {
    height: 56px;

    h1 {
      font-size: 20px;
    }
  }

  &.info {
    height: 62px;
  }

  h1 {
    font-family: $font-family;
    font-display: swap;
    bottom: 0;
    font-weight: 100;
    font-size: 20px;
    font-display: swap;
    margin-top: $global-gutter;
    text-align: center;
  }
}

h1,
h2,
h3,
h4 {
  color: var(--on-background);
}

.my-agenda-info-text {
  float: left;
}

.my-agenda-info-remove {
  float: right;
  height: 24px;
}

.attractions {
  padding: 0;
}

.event-hour-content {
  padding: $global-gutter;
  font-weight: bold;
}

.calendar {
  padding: 0;
}

app-search {
  .top-bar-fixed {
    .mat-form-field {
      padding: 0 $global-gutter;

      &.full-width {
        width: 100%;
      }
    }

    .mat-button.mat-icon-button {
      bottom: 7px;
    }
  }

  .mat-form-field-ripple {
    background-color: #2c4d8c;
  }
}

.event-items {
  &.row {
    margin-bottom: 100px;
  }
}

.row,
.col-xs-12 {
  margin: 0;
  padding: 0;
}

.event-item {
  padding: $global-gutter 0;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background: var(--secondary);
  }

  p {
    margin: 0;
  }

  .event-name {
    font-size: 14px;
    margin-bottom: 4px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .event-location {
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    color: var(--on-secondary);
  }

  .event-add {
    color: $color-grey-dark;
  }

  .event-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.event-tags-types {
  align-items: center;
  display: flex;
}

.event-tag,
.event-place {
  font-size: 12px;
  color: var(--primary);
  margin: 0 math.div($global-gutter, 2) 0 0;
}

.event-type {
  font-size: 12px;
  color: var(--on-secondary);
  margin: 0 math.div($global-gutter, 2) 0 0;
  border-radius: 50px;
  display: flex;
  align-items: center;

  p {
    margin: 0;
  }
}

.event-place {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.event-type-circle {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  margin-right: 4px;
  float: left;
}


app-event-item,
app-my-agenda {
  .event-add {
    color: $color-grey-dark;
  }

  .event-remove {
    color: var(--primary);
  }
}

app-my-agenda {
  .height-full {
    height: calc(100vh - 120px); // height top bar = 30px + height navigation bottom = 60px + height event item 30px
    overflow: auto;
  }
}

app-info {
  .mat-tab-body {
    min-height: calc(100vh - 138px); // height top bar = 30px + height navigation bottom = 60px + height tab bar = 48px
  }
}

.event-type {
  &.event-musical {
    background: #F8C7BF;
  }

  &.event-cortejo {
    background: #FFBA0E;
  }

  &.event-show {
    background: #53C419;
  }
}

.full-width {
  width: 100%;
}

.no-padding {
  padding: 0;
}

agm-map {
  width: 100%;
  position: relative;
  height: calc(100vh - 120px);
}

.event-selected {
  position: fixed;
  background: var(--background);
  bottom: 60px;
  width: 100%;
}

.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
  bottom: 223px !important;
}

.event-selected-close {
  z-index: 1;
  position: absolute;
  top: $global-gutter;
  right: math.div($global-gutter, 2);
  color: var(--on-secondary);
}


.event-details {
  padding: $global-gutter;
  margin-bottom: $global-gutter * 4;

  h1 {
    padding-top: 0;
    margin-top: 0;
    font-size: 22px;
    color: var(--on-background);
  }
}

.event-details-place {
  font-size: 14px;
  color: var(--on-secondary);
  line-height: 1.5em;

  mat-icon {
    height: 12px;
    width: 12px;
    font-size: 12px;
  }
}

.event-details-description {
  line-height: 1.5em;
  word-wrap: break-word;
}


.mat-fab.fab-event {
  position: fixed;
  bottom: $global-gutter;
  right: $global-gutter;
  background-color: var(--primary);
  color: var(--background);

  &.fab-event-remove {
    background-color: var(--background);
    color: var(--primary);
  }
}


.bottom-bar {
  height: 61px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.2);
  color: #7a7a7a;
  align-items: center;
  background: var(--background);
  left: 50%;
  transform: translate(-50%, 0);

  .bottom-bar-item {
    align-items: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: 72px;
    cursor: pointer;

    &:hover {
      background: var(--secondary);
    }

    p {
      margin: 0;
      padding: 0;
      font-weight: 500;
    }

    &.event-remove {
      color: var(--primary);
    }
  }
}

.mat-snack-bar-container.update-service {
  background: var(--primary);
}

.button-back {
  height: 24px;
  padding-left: 12px;
  cursor: pointer;
}

.login {
  position: fixed;
  bottom: $global-gutter;
  left: $global-gutter;
  right: $global-gutter;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
}

.button-login,
.button-login.mat-raised-button.mat-primary {
  background: var(--primary);
  color: $color-white;
  height: 48px;
}

.button-login,
.button-login.mat-raised-button.mat-primary,
.mat-button,
.mat-raised-button {
  text-transform: uppercase;
}

app-attraction {
  .mat-drawer-container {
    min-height: 640px;
  }
}

.my-agenda-info-add {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 350px;
  color: var(--on-secondary);
  font-size: 18px;

  mat-icon {
    font-size: 120px;
    height: 120px;
    width: 120px;
  }
}


.event-message-filter {
  padding: $global-gutter*2 $global-gutter*2;
  text-align: center;

  p {
    font-size: 18px;
  }
}

.arrow-message {
  width: 35%;
  max-width: 300px;
  will-change: transform;
  transform: rotateZ(16deg);
  position: fixed;
  bottom: 130px;
  right: 70px;
  opacity: 0.7;
}


::ng-deep .mat-tab-body-content {
  overflow: visible !important;
}


.mat-pseudo-checkbox::after {
  box-sizing: content-box
}

.carousel-indicators li {
  background-color: var(--primary);
}
