<h2 mat-dialog-title>{{ 'my-agenda.dialog.exit.title' | translate }}</h2>
<mat-dialog-content>
  <div class="row">
    <p>{{ 'my-agenda.dialog.exit.allYourSchedule' | translate }}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">{{ 'my-agenda.dialog.exit.no' | translate }}</button>
  <button mat-button [mat-dialog-close]="true">{{ 'my-agenda.dialog.exit.yes' | translate }}</button>
</mat-dialog-actions>
