:host {
    text-align: center;
    font-size: 14px;
}

.about-app {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    text-align: left;
    p {
        margin: 0;
    }
    .app-title {
        font-weight: bold;
    }
}

.prompt-instruction {
    background: #dedee1;
    font-weight: bold;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 12px;
    bottom: 0;
    margin: 0;
    img {
        width: 30px;
    }
}
