
<h2 mat-dialog-title>Instalar Carnaval SP 2019</h2>
<mat-dialog-content>
    <div class="row">
      <div class="col-12-xs">
        <div class="row about-app">
          <div class="col-4">
              <img src="assets/icon/apple-touch-icon.png" width="60" alt="">
          </div>
          <div class="col-8">
            <p class="app-title">Carnaval 2019 SP</p>
            <small>carnavalsp2019.com</small>
          </div>
        </div>
        <p>Instale essa aplicacão em sua <br/> tela inicial e acesse sua programacão offline</p>
        <p class="prompt-instruction">Basta clicar <img src="assets/icon-share-apple.svg"> então 'Adicionar a tela inicial'</p>
      </div>
    </div>
</mat-dialog-content>
