<div *ngIf="!hasFilters && (events$ | async)">
  <img loading="lazy" class="arrow-message" src="assets/arrow-bottom.svg" />
  <button role="button" aria-label="Filtrar atrações" class="button-filter-fab" (click)="showFilters()" mat-fab color="primary">
    <mat-icon>filter_list</mat-icon>
  </button>
</div>

<div class="filter-text container p-0" *ngIf="hasFilters">
  <div class="filters" (click)="showFilters()">
    <p>{{ 'attraction.dialog.filters' | translate }}:
      <span class="filter-items">{{ filters | textFilters }}</span>
    </p>
    <div class="clear-filter" (click)="clearFilters()">
      <mat-icon>cancel</mat-icon>
    </div>
  </div>
</div>

<div class="row jumbotron attraction">
  <div class="col">
    <h1>{{ 'attraction.attractions' | translate }}</h1>
  </div>
</div>
<div class="row">
  <div class="col container-loading" *ngIf="!(events$ | async)">
    <mat-spinner class="container-loading__spinner" [diameter]="30"></mat-spinner>
    <p>{{ 'attraction.loading' | translate }}...</p>
  </div>
  <div class="col attractions" *ngIf="(events$ | async) as events">
    <mat-tab-group [(selectedIndex)]="selectedIndex" [disableRipple]="true" class="md-no-animation">
      <ng-container *ngFor="let date of events | keys; trackBy: trackByDate;">
        <mat-tab *ngIf="hasFilters && hasEvents(date.value)"  label="{{ date?.key | date:'dd LLL, EEE' }}">
          <div class="row event-items" *ngIf="hasFilters">
            <div class="col-12 event-items-hour p-0" *ngFor="let hour of date.value | keys">
              <div class="event-hour-content pl-3">
                <div class="event-hour">
                  {{ hour.key }}
                </div>
              </div>
              <app-events-list [events]="turnObservable(hour.value)"></app-events-list>
            </div>
          </div>
        </mat-tab>
        <mat-tab *ngIf="!hasFilters"  label="{{ date?.key | date:'dd LLL, EEE' }}">
            <div class="row event-message-filter">
              <div class="col">
                <p>{{ 'attraction.letsGoFilterAttractionsFirstInterestLocation' | translate }}</p>
              </div>
            </div>
          </mat-tab>
      </ng-container>
    </mat-tab-group>
  </div>
</div>
