<div class="row jumbotron info">
  <div class="col">
    <h1>Info</h1>
  </div>
</div>
<div class="row">
  <div class="col info p-0">
    <mat-tab-group mat-stretch-tabs [disableRipple]="true" class="md-no-animation">
      <mat-tab label="{{ 'info.festival.title' | translate }}" (click)="sendEvent('evento')">
        <div class="row content-tab">
          <div class="col">
            <p class="pt-3" [innerHTML]="event.description "></p>
            <p class="alert alert-warning">⚠ {{ 'info.festival.warning' | translate }} ⚠</p>
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header (click)="sendEvent('telefones')">
                  <mat-panel-title>
                    {{ 'info.festival.usefulPhones' | translate }}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="info-telephone" *ngFor="let telephone of telephones">
                  <p class="info-telephone-title">{{ telephone.title }}</p>
                  <ul class="list-numbers">
                    <li class="number" *ngFor="let number of telephone.numbers">
                      <a href="tel:{{number}}">{{ number }}</a>
                    </li>
                  </ul>
                </div>
              </mat-expansion-panel>

            </mat-accordion>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="{{ 'info.config.title' | translate }}" (click)="sendEvent('config')">
        <div class="row content-tab">
          <div class="col p-0">
            <mat-selection-list>
              <mat-list-option *ngFor="let config of configs | keys" [value]="config.key"
                [selected]="config.value.selected" (click)="onConfigChange(config.value)">
                <mat-icon matListIcon>{{ config.value.icon }}</mat-icon>
                <h4 mat-line>{{ config.value.name }}</h4>
                <p mat-line> {{ config.value.description }} </p>
              </mat-list-option>
              <!-- <mat-list-option>
                <mat-icon matListIcon>translate</mat-icon>
                <h4 mat-line>Display language</h4>
                <p mat-line>Select your preferred language for headlines, buttons, and other text from this app.</p>
              </mat-list-option> -->
            </mat-selection-list>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="{{ 'info.about.title' | translate }}" (click)="sendEvent('sobre')">
        <div class="row content-tab">
          <div class="col">
            <p class="pt-3 info-title">{{ 'info.about.whyDidWeBuildThisProject' | translate }}</p>

            <div class="message-author pt-3">
              <p class="message-author-text">{{ 'info.about.author1.comment' | translate }}</p>
              <div class="author">
                <img loading="lazy" width="60" class="message-author-thumb"
                  src="https://pbs.twimg.com/profile_images/1212830944555499520/710X-ncW_reasonably_small.jpg" />
                <p>Cândido Sales
                  <br />
                  <span class="small-text">{{ 'info.about.author1.role' | translate }} |
                    <a href="https://twitter.com/candidosales" target="_blank">@candidosales</a>
                  </span>
                </p>
              </div>
            </div>

            <!-- <div class="message-author pt-3">
              <p class="message-author-text">{{ 'info.about.author2.comment' | translate }}</p>
              <div class="author">
                <img loading="lazy" width="60" class="message-author-thumb"
                  src="https://pbs.twimg.com/profile_images/1122239050688208899/uweh-E3q_200x200.jpg" />
                <p>Evilanne Brandão
                  <br />
                  <span class="small-text">{{ 'info.about.author2.role' | translate }} |
                    <a href="https://twitter.com/evilannebm" target="_blank">@evilannebm</a>
                  </span>
                </p>
              </div>
            </div> -->

            <p class="pt-3 info-title">{{ 'info.about.credits' | translate }}</p>
            <p class="info-text">{{ 'info.about.buildingThisProject' | translate }}</p>

            <ul class="info-list-credits">
              <li class="item-people">
                <a href="https://www.linkedin.com/in/alvarengadaniel/" target="_blank">Daniel Alvarenga</a>, Livia
                Pessoa,
                <a href="https://www.linkedin.com/in/rafaelmadureiralins/" target="_blank">Rafael Lins</a>,
                <a href="https://www.linkedin.com/in/thimgs/" target="_blank">Thiago Magalhães</a>,
                <a href="https://www.linkedin.com/in/paulafortes/" target="_blank">Paula Fortes</a>,
                <a href="https://www.linkedin.com/in/nathaliayamauti/" target="_blank">Nathalia Yamauti</a>,
                <a href="https://www.linkedin.com/in/nbuchler/" target="_blank">Natasha Buchler</a>,
                <a href="https://www.linkedin.com/in/protonss/" target="_blank">Márcio Rosa</a>,
                <a href="https://www.linkedin.com/in/alejandro-mangione/" target="_blank">Alejandro Mangione</a>,
                <a href="https://www.linkedin.com/in/william-grasel-799146114/" target="_blank">William Grasel</a>,
                <a href="https://www.linkedin.com/in/zambonjessica/" target="_blank">Jessica Zambon</a>, Lucas Santiago,
                Erica Castro, Everton Lima e
                <a href="https://www.linkedin.com/in/andersondadario/" target="_blank">Anderson Dadário</a>
                <br />
                <span class="small-text">{{ 'info.about.forGivingYouTips' | translate }}</span>
              </li>
              <li class="item-link">
                <a href="https://www.typescriptlang.org/" target="_blank">Typescript 💙</a>
              </li>
              <li class="item-link">
                <a href="https://angular.io/" target="_blank">Angular 💖</a>
              </li>
              <li class="item-link">
                <a href="https://material.angular.io" target="_blank">{{ 'info.tools.material.name' | translate }}
                  <br />
                  <span class="small-text">{{ 'info.tools.material.description' | translate }}</span>
                </a>
              </li>
              <li class="item-link">
                <a href="https://developers.google.com/web/tools/lighthouse/?hl=pt-br" target="_blank">{{ 'info.tools.lighthouse.name' | translate }}
                  <br />
                  <span class="small-text">{{ 'info.tools.lighthouse.description' | translate }}</span>
                </a>
              </li>
            </ul>
            <p class="pwa">
              <a href="https://www.youtube.com/watch?v=z2JgN6Ae-Bo"
                target="_blank">{{ 'info.about.learnMoreAbout' | translate }}
                <br />
                <img width="60" loading="lazy" class="logo-pwa" src="assets/logo-pwa.svg" />
              </a>
            </p>
          </div>
        </div>
      </mat-tab>


    </mat-tab-group>
  </div>
</div>
