<div class="event-item p-3" *ngIf="eventItem.save && onlySave">
  <div class="event-zone-click" (click)="goToEvent(eventItem)">
    <p class="event-name">{{ eventItem.name }}</p>
    <p class="event-location">{{ eventItem.started_at | date:'HH:mm' }} / {{ eventItem.place.id | place }}</p>
  </div>
  <div class="event-sub">
      <app-event-types-tags [event]="eventItem"></app-event-types-tags>
      <div class="event-remove" *ngIf="eventItem.save" (click)="removeSave(eventItem)"  role="button" aria-label="Remover atração da minha agenda">
        <mat-icon>check_circle</mat-icon>
      </div>
  </div>
</div>
