<!--The content below is only a placeholder and can be replaced.-->
<div class="row wrapper-main" theme >
    <div class="container container-main p-0">
        <div class="row">
          <div class="col p-0">
              <router-outlet></router-outlet>
          </div>
        </div>
      </div>
</div>

