<h2 mat-dialog-title>{{ 'my-agenda.dialog.onboarding.title' | translate }}</h2>
<mat-dialog-content>
    <div class="row dialog-onboarding">
      <div class="col-12-xs">
        <ul>
          <li>
              <mat-icon>add_circle</mat-icon>
            <p>
              {{ 'my-agenda.dialog.onboarding.addEvents' | translate }}
            </p>
          </li>
          <li>
              <mat-icon>search</mat-icon>
              <p>
                {{ 'my-agenda.dialog.onboarding.searchYoursArtist' | translate }}
              </p>
          </li>
          <li>
              <mat-icon>filter_list</mat-icon>
              <p>
                {{ 'my-agenda.dialog.onboarding.filterByTypesTagsPlaces' | translate }}
              </p>
          </li>
          <li>
            <mat-icon>brightness_4</mat-icon>
            <p>
              {{ 'my-agenda.dialog.onboarding.useDarkMode' | translate }}
            </p>
        </li>
        </ul>
      </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]>{{ 'my-agenda.dialog.onboarding.begin' | translate }}</button>
</mat-dialog-actions>
