<div class="row jumbotron my-agenda">
  <div class="col">
    <h1>{{ 'my-agenda.schedule' | translate }}</h1>
  </div>
  <div class="button-submenu">
    <button mat-icon-button [matMenuTriggerFor]="menu" role="button" aria-label="Menu do topo">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button class="button-install" mat-menu-item (click)="install()" *ngIf="showInstallButton" >
        <mat-icon>add_to_home_screen</mat-icon>
        <span>{{ 'my-agenda.install' | translate }}</span>
      </button>
      <button mat-menu-item (click)="showDialogExit()">
        <mat-icon>exit_to_app</mat-icon>
        <span>{{ 'my-agenda.exit' | translate }}</span>
      </button>
    </mat-menu>
  </div>
</div>
<div class="row" *ngIf="showInfo">
  <div class="col  my-agenda-info">
    <p class="my-agenda-info-text">{{ 'my-agenda.theAttractionsHaveSavedAppearBelow' | translate }}</p>
    <div class="my-agenda-info-remove" (click)="removeInfo()">
      <mat-icon>close</mat-icon>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 container-loading" *ngIf="showLoading">
    <mat-spinner class="container-loading__spinner" [diameter]="30"></mat-spinner>
    <p>Carregando...</p>
  </div>
  <div class="col-12 p-0" *ngIf="hasEventsSaved">
    <div class="row my-calendar height-full" *ngIf="hasEventsSaved">
      <button class="button-share-fab" (click)="shareMyAgenda()" mat-fab color="primary" role="button"
        aria-label="Compartilhar minha agenda">
        <mat-icon>share</mat-icon>
      </button>
      <div class="col-12 p-0" *ngFor="let date of events | keys">
        <div class="row">
          <div class="col-12 p-0">
            <div class="calendar-day" (click)="goToSchedule()">
              {{ date.key | date:'EE d, MMMM'}}
              <p class="add-event text-link text-link-green">{{ 'my-agenda.add' | translate }}</p>
            </div>
            <!-- <div class="col-12" *ngFor="let hour of date.value | keys"> -->
            <ng-container *ngFor="let hour of date.value | keys">
              <app-my-event-item [eventItem]="eventItem" [onlySave]="true" *ngFor="let eventItem of hour.value">
              </app-my-event-item>
            </ng-container>
          </div>

          <!-- </div> -->
        </div>

      </div>
    </div>
  </div>
  <div *ngIf="showBanner" class="col my-agenda-info-add" (click)="goToSchedule()">
    <mat-icon>add_circle</mat-icon>
    <p>{{ 'my-agenda.addAttractionsInterestYou' | translate }}</p>
  </div>
</div>
