<div class="event-item p-3" *ngIf="eventItem.id" >
  <div class="event-zone-click" (click)="goToEvent(eventItem)">
  <p class="event-name">{{ eventItem.name }}</p>
  <p class="event-location"><span class="event-start" *ngIf="showStart">{{ eventItem.started_at | date:'EE d, MMM - HH:mm' }} / </span>{{ eventItem.place.id | place }}</p>
</div>
  <div class="event-sub">
      <app-event-types-tags [event]="eventItem"></app-event-types-tags>
      <div class="event-add" *ngIf="!eventItem.save" (click)="save(eventItem)" role="button" aria-label="Adicionar atração na minha agenda">
        <mat-icon>add_circle</mat-icon>
      </div>
      <div class="event-remove" *ngIf="eventItem.save" (click)="removeSave(eventItem)" role="button" aria-label="Remover atração da minha agenda">
        <mat-icon>check_circle</mat-icon>
      </div>
  </div>
</div>
