
<div class="row">
  <div class="col container-loading" *ngIf="!listFilters">
    <mat-spinner class="container-loading__spinner" [diameter]="30"></mat-spinner>
    <p>{{ 'attraction.dialog.loading' | translate }}...</p>
  </div>
  <div class="col-12 p-0" *ngIf="listFilters">
    <div class="row">
      <div class="col filter-header">
        <p class="title mb-0">{{ 'attraction.dialog.filters' | translate }}</p>
        <div class="clear-filter" (click)="clearFilters()" *ngIf="hasFilters()">
          <p class="mb-0">{{ 'attraction.dialog.clean' | translate }}</p>
          <mat-icon>cancel</mat-icon>
        </div>
      </div>
    </div>
    <div class="row filter">
      <div class="col p-0">
        <h2>{{ 'attraction.dialog.types' | translate }}</h2>
        <mat-selection-list [disableRipple]="true" #types [(ngModel)]="selectedOptionsTypes">
          <mat-list-option [disableRipple]="true" *ngFor="let type of listFilters?.types; trackBy: trackByTypeId" [selected]="type.selected"
            [value]="type" (click)="onTypeChange(type)">
            <span class="event-type">
              <span [style.background]="type.color" class="event-type-circle"></span>
              <p>{{type.label}}</p>
            </span>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
    <div class="row filter" *ngIf="hasTags" >
      <div class="col p-0">
        <h2>{{ 'attraction.dialog.tags' | translate }}</h2>
        <mat-selection-list [disableRipple]="true" #tags [(ngModel)]="selectedOptionsTags">
          <mat-list-option [disableRipple]="true" *ngFor="let tag of listFilters?.tags; trackBy: trackByTagId" [selected]="tag.selected"
            [value]="tag" (click)="onTagChange(tag)">
            <span class="event-tag">{{tag.label}}</span>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
    <div class="row filter">
      <div class="col p-0">
        <h2>{{ 'attraction.dialog.places' | translate }}</h2>
        <mat-selection-list [disableRipple]="true" #tags [(ngModel)]="selectedOptionsPlaces">
          <mat-list-option [disableRipple]="true" *ngFor="let place of listFilters?.places; trackBy: trackByPlaceId" [selected]="place.selected"
            [value]="place" (click)="onPlaceChange(place)">
            <span class="event-place">{{place.label}}</span>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
    <div class="filter-button-apply">
        <button class="full-width" mat-button color="primary" (click)="applyFilter()">{{ 'attraction.dialog.filter' | translate }}</button>
      </div>
  </div>
</div>
