<div class="row top-bar top-event">
  <div class="col-2 no-padding top-bar-back">
    <div class="button-back" (click)="back()">
      <mat-icon>
        arrow_back
      </mat-icon>
    </div>
  </div>
  <div class="col-10 no-padding">
  </div>
</div>
<div class="row" *ngIf="event" >
  <div class="col event-details">
    <h1 class="event-details-name">{{ event.name }}</h1>
    <p class="event-details-place"><mat-icon>access_time</mat-icon> {{ event.started_at | date:'EE d, MMM - HH:mm' }}<br/> <mat-icon>place</mat-icon>{{ event.place.id | place }}</p>
    <p class="event-details-description" [innerHTML]="event.description"></p>
    <app-event-types-tags [event]="event"></app-event-types-tags>

  </div>
</div>
<div class="bottom-bar container p-0">
  <div class="bottom-bar-item" (click)="goToMap()" role="button" aria-label="Ver no mapa" *ngIf="hasLocation" >
    <mat-icon>map</mat-icon>
    <p class="tab-label">{{ 'event.seeOnMap' | translate }}</p>
  </div>
  <div class="bottom-bar-item" (click)="share()" role="button" aria-label="Compartilhar evento">
    <mat-icon>share</mat-icon>
    <p class="tab-label">{{ 'event.share' | translate }}</p>
  </div>
  <div class="bottom-bar-item" (click)="addCalendar()" role="button" aria-label="Adicionar ao calendário">
      <mat-icon>calendar_today</mat-icon>
      <p class="tab-label">{{ 'event.addToCalendar' | translate }}</p>
    </div>
  <div class="bottom-bar-item event-add" *ngIf="!event.save" (click)="save(event)" role="button" aria-label="Salvar atração na minha agenda">
    <mat-icon>add_circle</mat-icon>
    <p class="tab-label">{{ 'event.save' | translate }}</p>
  </div>
  <div class="bottom-bar-item event-remove" *ngIf="event.save" (click)="removeSave(event)" role="button" aria-label="Remover atração da minha agenda">
    <mat-icon>check_circle</mat-icon>
    <p class="tab-label">{{ 'event.iGo' | translate }}</p>
  </div>
</div>
