<div class=" top-bar top-bar-fixed search">
  <form>
    <mat-form-field class="full-width">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput #searchBox id="search-box" (keyup)="search(searchBox.value)" />
      <!-- <button mat-button *ngIf="searchBox.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearInput().value=''">
          <mat-icon>close</mat-icon>
        </button> -->
    </mat-form-field>
  </form>
</div>
<div class="row event-items">
  <div class="col-12 search-suggestions" *ngIf="searchBox.value === ''">
    <p class="suggestions-title">{{ 'search.searchSuggestions' | translate }}</p>
    <div class="suggestions-content">
      <h2>{{ 'search.byTypes' | translate }}</h2>
      <ul>
        <li *ngFor="let type of listFilters.types" class="suggestion-item" (click)="clickSearch(type.label)">{{
          type.label }}</li>
      </ul>
    </div>
    <div class="suggestions-content">
      <h2>{{ 'search.byPlaces' | translate }}</h2>
      <ul>
        <li *ngFor="let place of listFilters.places" class="suggestion-item" (click)="clickSearch(place.label)">{{
          place.label }}</li>
      </ul>
    </div>
    <div class="suggestions-content" *ngIf="hasTags">
      <h2>{{ 'search.byTags' | translate }}</h2>
      <ul>
        <li *ngFor="let tag of listFilters.tags" class="suggestion-item" (click)="clickSearch(tag.label)">{{ tag.label
          }}</li>
      </ul>
    </div>
  </div>
  <div class="col-12" *ngIf="searchBox.value !== ''">
    <app-event-item [eventItem]="eventItem" [showStart]="true" *ngFor="let eventItem of events$ | async"></app-event-item>
  </div>
  <div class="col-12 container-loading" *ngIf="searchBox.value !== '' && events$">
    <mat-spinner class="container-loading__spinner" [diameter]="30" *ngIf="showLoading"></mat-spinner>
    <p class="search-no-result" *ngIf="!hasResult">{{ 'search.noResultsThisSearch' | translate }}</p>
  </div>
</div>
