
<router-outlet></router-outlet>
<div class="row nav-bar">
  <div class="col">
    <nav mat-tab-nav-bar [disableRipple]="true" class="md-no-animation container p-0">
      <a mat-tab-link class="tab-item"
      *ngFor="let tabLink of tabLinks; let i = index"
      [routerLink]="tabLink.link"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive"
      (click)="sendEvent(tabLink.label)">
        <mat-icon>{{ tabLink.icon }}</mat-icon>
        <p class="tab-label">{{tabLink.label}}</p>
      </a>
    </nav>
  </div>
</div>


