.tab-item {
    .tab-label {
        margin: 0;
    }
}

.mat-tab-link {
    flex-direction: column;
    flex-grow: 1;
    text-decoration: none;
}

.mat-tab-nav-bar.mat-primary {
    left: 0;
    bottom: 0;
    z-index: 2;
    background: var(--surface);
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}
